
.mono/keypairs
Microsoft\VisualStudio Services/8.0/Cache
Microsoft\VisualStudio Services/8.0/Cache
NuGet
configstore
exercism
gh
github-copilot
iterm
iterm2
lazygit/state.yml
raycast
stetic/library-cache
stripe
xbuild
yarn/global
mongocli.toml
nvim/.git-old
nvim/pack/github/start/copilot.vim
nvim/plugin
fish/functions
fish/conf.d
fish/completions
